#content {
    margin: 50px 200px 15px 200px;
    text-align: center;
}

.product {
    border-top: 1px solid black;
}

.basket-row div {
    display: inline-block;
    font-size: 26px;
    margin: 10px;
}

.name {
    width: 45%;
    border-right: 1px solid black;
}

.length {
    width: 10%;
    border-right: 1px solid black;
}

.price1 {
    width: 12%;
    border-right: 1px solid black;
}

.price2 {
    width: 12%;
}

.remove-button {
    width: 50px;
    display: inline-block;
    margin: 0px;
    background-image: url("remove.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
}

.remove-empty-space {
    width: 50px;
    display: inline-block;
    margin: 0px !important;
    height: 50px;
}

#order-confirmation-button {
    text-decoration: none;
    margin: 20px 0;
    border: 2px solid red;
    color: black;
    padding: 10px;
    transition: color 0.5s, border 0.5s;
    border-radius: 10px;
    font-size: 25px;
}

#order-confirmation-button:hover {
    color: red;
    border: 2px solid black;
}