<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metal Profiles</title>
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="/common-controls.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<form method="post" id="register-form" enctype="multipart/form-data">
    <div th:if="${info != null}" th:text="${info}" id="info"></div>
    <input type="text" placeholder="Name" class="text-input" th:field="${product.name}">
    <input type="text" placeholder="Shape" class="text-input" th:field="${product.shape}">
    <input type="text" placeholder="Length" class="text-input" th:field="${product.length}">
    <input type="text" placeholder="EAN" class="text-input" th:field="${product.ean}">
    <input type="text" placeholder="Price" class="text-input" th:field="${product.price}">
    <input type="file" name="obrazek">
    <select th:field="${product.category}" class="text-input">
        <option value="BUTTON1">Aluminium</option>
        <option value="BUTTON2">Steel</option>
    </select>
    <input type="submit" value="Add" id="form-submit">
</form>
</body>
</html>