<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.ogr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Navbar -->
<div id="navbar" th:fragment="navbar">
<div class="navbar">
    <div class="container flex">
        <h1 class="logo">Warehouse.</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>
    <!--MENU-->
<div class="topbar" th:fragment="menu">
        <div class="container flex">
    <a href="/main?category=button1">Aluminum</a>
    <a href="/main?category=button2">Steel</a>
    <a href="/basket">Basket</a>
    <a href="/orders">Order</a>

    <div id="filter-form">
        <form method="post" action="/filter">
            <input type="text" placeholder="search" name="filter" th:value="${filter}">
            <input type="submit" value="Filter">
        </form>
    </div>
</div>
</div>

<!-- Showcase -->
<div id="showcase" th:fragment="showcase">
<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Warehouse store</h1>
            <p>Check our store</p>
            <a href="/main" class="btn btn-outline">Store</a>
        </div>
    </div>
</section>
</div>
<!-- Logincase -->
<div id="logincase" th:fragment="logincase">
    <section class="logincase">
        <div class="container grid">
            <div class="logincase-text">
                <h1>Warehouse store</h1>
                <p>Check our store</p>
                <a href="/main" class="btn btn-outline">Store</a>
            </div>
        </div>
    </section>
</div>

<!-- Contact -->
<div id="contact" th:fragment="contact">
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Always for you</h1>
                <p>Lorem ipsum lorem ipsum lorem ipsum lorem
                    ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                    ipsum lorem ipsum lorem ipsum lorem
                    ipsum lorem ipsum lorem ipsum lorem
                    ipsum lorem ipsum lorem
                    ipsum lorem</p>
                <a href="/home" class="btn btn-outline">Read More</a>
            </div>

<div class="showcase-form card">
    <h2>Contact us</h2>
    <form>
        <div class="form-control">
            <input type="text" name="name" placeholder="Name" required>
        </div>
        <div class="form-control">
            <input type="text" name="company" placeholder="Company Name" required>
        </div>
        <div class="form-control">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <input type="submit" value="Send" class="btn btn-primary">
    </form>
</div>
        </div>
    </section>
</div>

<!-- Footer -->
    <div id="footer" th:fragment="footer">
<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>Warehouse
            </h1>
            <p>Copyright &copy; 2020</p>
        </div>
        <nav>
            <ul>
                <li><a href="/edit">My Account</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/addProduct" th:if="${user.role.name() == 'ADMIN'}">Add Product</a></li>

            </ul>
        </nav>
    </div>
</footer>
    </div>


<img src="/logo.ico" alt="Logo" id="logo" th:fragment="logo">
</body>
</html>