<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.ogr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/main">Strona główna</a>
    <a href="/main?category=button1">Aluminum</a>
    <a href="/main?category=button2">Steel</a>
    <a href="/contact">Contact</a>
    <a href="/logout">Logout</a>
    <a href="/addProduct" th:if="${user.role.name() == 'ADMIN'}">Add Product</a>
    <a href="/edit">My Account</a>
    <a href="/basket">Basket</a>
    <a href="/orders">Order</a>
</div>

<img src="/logo.png" alt="Logo" id="logo" th:fragment="logo">
</body>
</html>